/*font */
.st-font
{
    font-family: "Satisfy";
}


.abc{
    height: 100%;
}
html,body{
    height: 100%;
}
.container-fluid{
    min-height: 100%;
}
/*servic icon color*/
.i-color {
color: rgb(0, 255, 157);
}
/*servic subtitle color*/
.ss-color {
    color: rgb(112, 111, 161);
}

a.nav-link {
    color:whitesmoke;
}
a.nav-link:hover{
    color:red;
    background-color: #e9cd79;
}
a.nav-link.active{
    color:red;
    background-color: #d8ae31;
    font-weight: bold;
}